.site-wrapper
{
	margin-top:30px;
	margin-left:50px;
	height:600px;
	width:900px;
	border:solid 1px;
	border-color:black;
	border-radius:25px;
}
h1
{
	color:#780000;
	text-align: center;
}
.top-left
{	margin-top:10px;
	margin-left:10px;
	height:220px;
	width:420px;
	border:solid 1px;
	border-color:grey;
	border-radius:25px;
	float:left;
	background-color :hsl(255,90%,50%);
	text-align: center;}
	